<%- include('../partials/header') %>
<div class="shadow-sm p-3 mb-5 bg-body rounded">
<h2 class="text-center">My Workouts</h2>



<!-- <div class="workout-container">
  <ul>
    <% workouts.forEach(function(workout) { %>
    <li>
      <div class="workout-item">
          <form action="/workouts/<%= workout.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">X</button>
          </form>
        <a href="/workouts/<%= workout.id %>">
          <%= workout.name %>
        </a>
      </div>
    </li>
    <% }); %>
  </ul>
</div> -->


<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Delete</th>
                <th>Name</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% workouts.forEach(function(workout) { %>
            <tr>
                <td>
                    <form action="/workouts/<%= workout.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                      </form>
                </td>
                <td>        
                    <a href="/workouts/<%= workout.id %>">
                        <%= workout.name %>
                    </a></td>
                <td>
                    <%= workout.date.toLocaleDateString() %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
    </div>

</div>
<a href="/workouts/new" id="addWorkout" class="btn btn-primary btn-md" role="button">Add a Workout</a>

</div>



<%- include('../partials/footer') %>