<%- include('../partials/header') %>
<div id="myWorkouts" class="shadow-sm p-3 mb-5 bg-dark rounded fade-in-element3">
<h2 class="text-center text-light">My Workouts</h2>



<!-- <div class="workout-container">
  <ul>
    <% workouts.forEach(function(workout) { %>
    <li>
      <div class="workout-item">
          <form action="/workouts/<%= workout.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">X</button>
          </form>
        <a href="/workouts/<%= workout.id %>">
          <%= workout.name %>
        </a>
      </div>
    </li>
    <% }); %>
  </ul>
</div> -->


<div class="table-responsive fade-in-element" id="myworkouts">
    <table class="table table-striped table-dark">
        <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% workouts.forEach(function(workout) { %>
            <tr>
              <td>        
                <a href="/workouts/<%= workout.id %>">
                  <%= workout.name %>
                </a></td>
                <td>
                  <%= workout.date.toLocaleDateString() %>
                </td>
                <td>
                    <form action="/workouts/<%= workout.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                      </form>
                </td>
              </tr>
            <% }); %>
        </tbody>
    </table>
    </div><br>

    <a href="/workouts/new" id="addWorkout" class="btn btn-primary btn-md fade-in-element2" role="button">Add a Workout</a>
</div>

</div>



<%- include('../partials/footer') %>