<%- include('../partials/header.ejs') %>

<div class="shadow-sm p-3 mb-5 bg-body rounded">
    <h1 class="text-center" >
        <%= workout.name %><br>
    </h1>
    <h3 class="text-center">
        <%= workout.date.toLocaleDateString() %>
    </h3>
</div>

<div class="shadow-sm p-3 mb-5 bg-body rounded">
<h3 class="text-center">Add Exercise:</h3>

<form id="add-exercise-form" method="POST" action="/exercises/<%= workout._id %>">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>
    <label for="weight">Weight:</label>
    <input type="number" name="weight" id="weight" min="0">
    <label for="sets">Sets:</label>
    <input type="number" name="sets" id="sets" min="0">
    <label for="reps">Reps:</label>
    <input type="number" name="reps" id="reps" min="0">
    <input id="addExercise" type="submit" class="btn btn-primary btn-md" role="button" value="Add Exercise">
</form>
</div>

<div class="shadow-sm p-3 mb-5 bg-body rounded">

<h3 class="text-center">Exercise Log:</h3>

<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% workout.exercises.forEach(function(exercise) { %>
        <tr>
            <td><%= exercise.name %></td>
            <td><%= exercise.weight %></td>
            <td><%= exercise.sets %></td>
            <td><%= exercise.reps %></td>
            <td>
                <form action="/exercises/<%= workout.id %>/<%= exercise.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm">X</button>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>
</table>
</div>
</div>

<a href ="/workouts/<%= workout.id %>/edit" id="editWorkout" class="btn btn-primary btn-md" role="button">Edit Workout</a>


<h2>Add Note:</h2>
<form id="add-note-form" method="POST" action="/notes/<%= workout._id %>">

    <textarea name="content" class="form-control" rows="3"></textarea><br>
    <input type="submit" class="btn btn-primary btn-md" role="button" value="Add Note">
</form>

<div class="shadow-sm p-3 mb-5 bg-body rounded">
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        <% workout.notes.forEach(function(note) { %>
            <tr>
                <td><%= note.createdAt.toLocaleDateString() %></td>
                <td><%= note.content %></td>
                <td>
                    <form action="/notes/<%= workout.id %>/<%= note.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">X</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</div>






<!-- <div class="container">
    <div class="row"
        <% workout.exercises.forEach(function(exercise) { %>
    </div>
            <div class="col-sm-2"><%= exercise.name %></div>
                <div class="col-sm-2"><%= exercise.weight %></div>
                <div class="col-sm-2"><%= exercise.sets %></div>
                <div class="col-sm-2"><%= exercise.reps %></div>
                <div class="col-sm-2"><form action="/exercises/<%= workout.id %>/<%= exercise.id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                </form>


        <% }); %>

</div> -->






<%- include('../partials/footer.ejs') %>